$dark-grey-1: #2a3743 !default;
$dark-grey-2: #344453 !default;
$dark-grey-3: #aaa !default;
$light-grey-1: #b5c3d1 !default;
$light-grey-2: #ececec !default;
$dark-red: #8b0000 !default;
$dark-blue: #0067c7 !default;

body {
  background-color: #fff;
  transition: background-color 0.2s linear;
}

#app-container {
  background-color: #fff;

  > aside {
    background-color: $dark-grey-1;
    color: $light-grey-1;

    a {
      color: $light-grey-1;
      text-decoration: none;
      &:hover {
        color: #fff;
      }
      &:focus {
        outline: 2px solid $dark-blue;
      }
    }
  }

  > main {
    background-color: #fff;

    > header {
      a:link,
      a:visited {
        color: $dark-grey-3;
      }
      a:hover {
        color: $dark-grey-1;
      }
    }
  }

  &.disconnected main {
    background-color: $light-grey-2;
  }
}
