@use "bourbon";
@use "resets";
@use "colors" as *;
@use "layout";
@use "buttons"; // Disabled to allow Framework7 button styles
@use "components/account-info";
@use "components/breadcrumb-nav";
@use "components/categories-nav";
@use "components/directory-listing";
@use "components/file-preview";
@use "components/item-icon";
@use "components/modal";
@use "vendor/json-tree-view";

@import "tailwind.css";
@import "bottom-nav-mobile.css";

html {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
}

body {
  background-color: white;
  font-size: 15px;
  font-family: Open Sans, sans-serif;
  color: $dark-grey-1;
  margin: 0;
  padding: 0;
}
