@import "bourbon";
@import "colors";
@import "layout";

* {
  -moz-outline: none;
  outline: none;
}

body {
  background-color: white;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  color: $dark-grey-1;
  margin: 0;
  padding: 0;
}

@import "buttons";

@import "components/account-info";
@import "components/breadcrumb-nav";
@import "components/categories-nav";
@import "components/directory-listing";
@import "components/file-preview";
@import "components/item-icon";
